<section data-ng-controller="HomeController">
	<div class="row">
	<!-- File Dropzone -->
		<div class="col-md-12">
			<div ngf-select ngf-drop ng-model="file" ng-model-rejected="reject" class="drop-box" ng-show="!removeDropzone" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-change="handleFileSelect()" ngf-accept="'text/csv'" accept=".csv">
				<p class="lead">drop csv file here or <br/>click to browse</p>
		    </div>
	    </div>

	    <div class="col-md-12" ng-show="removeDropzone">
	    	<div class="col-md-4 service-box" ng-repeat="service in results">
		    	<h3 class="text-center">{{service.service_type}}</h3>
		    	<div class="projects" ng-style="{'border-color': theColors[$index % theColors.length]}">
		    		<p class="result-number">{{service.totalProjects}}</p>
		    		<p class="result-label">Projects</p>
		    	</div>
		    	<div class="projects attendance" ng-style="{'border-color': theColors[$index % theColors.length]}">
		    		<p class="result-number">{{service.totalAttendance}}</p>
		    		<p class="result-label">Attendance</p>
		    	</div>
		    	<div class="divisor">/</div>
		    	<div class="projects capacity" ng-style="{'border-color': theColors[$index % theColors.length]}">
		    		<p class="result-number">{{service.totalCapacity}}</p>
		    		<p class="result-label">Capacity</p>
	    		</div>
		    	<div class="projects struggle" ng-style="{'border-color': theColors[$index % theColors.length]}">
		    		<p class="result-number">{{service.lowFullness}}</p>
		    		<p class="result-label">Struggle</p>
		    	</div>	
		    	<div class="projects impacts" ng-repeat="impact in service.impacts" ng-style="{'border-color': theColors[$parent.$index % theColors.length]}">
		    		<div class="result-impact-type">{{impact.impact_type}}</div>
		    		<div class="result-impact-total">{{impact.total}}</div>
		    	</div>
	    	</div>
	    </div>
	</div>
</section>
