<section data-ng-controller="HomeController">
	<div class="row hidden-xs">
	<!-- File Dropzone -->
		<div class="col-md-12">
			<div ngf-select ngf-drop ng-model="file" ng-model-rejected="reject" class="drop-box" ng-show="!removeDropzone" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-change="handleFileSelect()" ngf-accept="'text/csv'" accept=".csv">
				<p class="lead">drop csv file here or <br/>click to browse<p>
		    </div>
	    </div>

	    <div class="col-md-12" ng-show="removeDropzone">
	    	<div ng-repeat="service in results">
		    	<h3>{{service.service_type}}</h3>
		    	<p>Projects: {{service.totalProjects}}</p>
		    	<p>Capacity: {{service.totalCapacity}}</p>
		    	<p>Attendance: {{service.totalAttendance}}</p>
		    	<p>Struggle: {{service.lowFullness}}</p>
		    	<div ng-repeat="impact in service.impacts">{{impact.impact_type}}: {{impact.total}}</div>
	    	</div>
	    </div>
	</div>
</section>
