<div class="modal-header">
  <h4 class="modal-title">Add Field Mapping</h4>
</div>
<div class="modal-body">
	<p>Match your column names to required fields</p>
	<div class="col-md-11">
		<ul dnd-list="model.lists.A" dnd-horizontal-list="true">
			<li	class="csvheaders"
				ng-repeat="item in model.lists.A"
				dnd-draggable="item"
	        	dnd-moved="model.lists.A.splice($index, 1)"
	        	dnd-effect-allowed="move"
		        dnd-selected="model.selected = item"
	    		ng-class="{'selected': model.selected === item}"
	        >
	        {{item.label}}
	    	</li>
		</ul>
	</div>
	<div class="row">
			<div class="col-md-6">
				Required Fields
				<ul class="reqlist">
					<li class="required" ng-repeat="field in required_fields">{{field}}</li>
				</ul>
			</div>
		
			<div class="col-md-6">
				Matching Column Name
				<ul dnd-list="model.lists.B" dnd-disable-if="model.lists.B.length >= required_fields.length">
				    <li ng-repeat="item in model.lists.B"
				        dnd-draggable="item"
				        dnd-moved="model.lists.B.splice($index, 1)"
				        dnd-effect-allowed="move"
				        dnd-selected="models.selected = item"
				        ng-class="{'selected': models.selected === item}"
				        >
				        {{item.label}}
				    </li>
				</ul>
			</div>

	</div>

	<button type="button" class="btn btn-save" ng-click="create()">Save Mapping</button>
	<button type="button" class="btn btn-upload" ng-click="getMapping()">Use Saved Mapping</button>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-upload" ng-click="ok()">OK</button>
</div>