.btn {
  background-color: white;
}

.btn-ready {
	color: #7b39c7;
  border-color:#7b39c7;
}

.btn-review, .filename {
  color: #4d92cd;
  border-color: #4d92cd;
}

.btn-complete {
	 color: #85c739;
	 border-color: #85c739;
}

.btn-started {
	color: #cd884d;
	border-color: #cd884d;
}

.btn-empty {
	color: #cd4d52;
  border-color: #cd4d52;
}

a.btn-ready, a.btn-review, a.btn-complete, a.btn-started, a.btn-empty {
	border: none;
	box-shadow: none;
}

.agency-btn {
  padding: 4px 8px;
}

.agency-mid {
  padding: 4px 15px;
}

.btn-upload {
  color: white;
  border-color: #4d92cd;
  background-color: #4d92cd;
}

.btn-cancel {
  color: white;
  border-color: #cd4d52;
  background-color: #cd4d52;
}

.btn-save {
  color: white;
  border-color: #85c739;
  background-color: #85c739;
}

.btn-upload:hover, .btn-upload:focus, .btn-cancel:hover, .btn-cancel:focus, .btn-save:hover, .btn-save:focus {
  background-color: white;
}